<!-- <p>{{ lesson | json }}</p> -->

<div class="w3-row w3-margin-bottom">
  <div class="w3-col l6 w3-center" style="padding:3%">
   <h1>{{ lesson.lessonType }}</h1>
   <p class="w3-xlarge w3-text-dark-grey">{{ lesson.lessonDescription }}</p>
   <a class="w3-button w3-dark-grey">LEARN {{ lesson.lessonType }}</a>
   <a (click)="onClickReference()" class="w3-button w3-dark-grey">{{ lesson.lessonType }} REFERENCE</a>
  </div>
  <div class="w3-col l6" style="padding:3%">
   <div class="w3-hide-small w3-light-grey w3-card-2" style="padding:16px;">
    <h3>{{ lesson.lessonType }} Example:</h3>
    <iframe height="400px" width="100%" src="https://replit.com/@MadushaMethsiri/Tutorialbook?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals">Try it yourself</iframe>
   
   </div>
  </div>
 </div>
 